<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
		<httpErrors existingResponse="PassThrough" />
        <rewrite>
            <rules>
                <rule name="SEO Friendly URLs" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="app/www/index.php?u={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Powered-By" value="Alloy Framework" />
            </customHeaders>
        </httpProtocol>
		<defaultDocument>
			<files>
				<remove value="index.php" />
				<add value="app/www/index.php" />
			</files>
		</defaultDocument>
    </system.webServer>
</configuration>
