<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
		<httpErrors existingResponse="PassThrough" />
        <rewrite>
            <rules>
                <rule name="Cont-xt Friendly URLs" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{URL}" negate="true" pattern=".*\.(ico|txt|css|jpg|jpeg|png|gif|bmp|zip|js|pdf)$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="index.php?u={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Powered-By" value="Cont-xt" />
            </customHeaders>
        </httpProtocol>
		<defaultDocument>
			<files>
				<remove value="index.php" />
				<add value="index.php" />
			</files>
		</defaultDocument>
    </system.webServer>
</configuration>
