<IfModule mod_rewrite.c>
    RewriteEngine On
	
    # Reroute any incoming request that is not an existing directory or file
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?u=$1 [L,QSA]
</IfModule>
